*{
    margin: 0;
    padding: 0;
}
.fullgame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-image:url(/R.jpeg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    height: 75vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid rgb(197, 195, 61);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5rem ;
}

.game{
    height: 42.5vmin;
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.9vmin;
    margin-top: 3rem;
}

.box{
    height: 13vmin;
    width: 13vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 10vmin;
    color:  rgb(197, 195, 61);
    background-color: rgb(212, 209, 209);
}
#reset{
    margin-top: 5rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: rgb(197, 195, 61);
    color:rgb(157, 157, 157);
    border-radius: .5rem;
    border: none;
}

.newgame{
    padding: 1rem;
    font-size: 1.2rem;
    background-color:  rgb(197, 195, 61);
    color:rgb(208, 208, 208);
    border-radius: .5rem;
    border: none;
}

#msg{
    color:   rgb(197, 195, 61);
    font-size: 6vmin;
}
h1{
    font-size: 7.5vmin;
    color:   rgb(197, 195, 61);
}


.msgbox{
    margin: 150px;
    height: 50vh;
    width: 45vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    border-radius: 15px;
    border: 3.5px solid  rgb(197, 195, 61);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5rem ;
}

.hide{
    display: none;
}

.newgame,#reset {
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #979705 0%, rgb(211, 206, 62) 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}
  
.newgame:hover,#reset:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px  rgb(197, 195, 61);
    transform: translateY(-0.1em);
}
  
.newgame:active,#reset:active {
    box-shadow: inset 0px 0.1em 0.6em  rgb(88, 87, 23);
    transform: translateY(0em);
}